@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Archivo+Black&family=Fredoka+One&family=Passion+One:wght@700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    font-size: 0.95em;
    font-family: 'poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #027e6f;
    background: #02AAB0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.head {
    position: fixed;
    top: 10px;
    left: 20px;
    color: #027965;
    font-size: 2em;
    /* font-family: 'achvio ', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* letter-spacing: 4px; */

    border-radius: 20px;
background: #00CCAD;
box-shadow:  5px 5px 10px #00b197, 
             -5px -5px 10px #00e7c3;

             padding: 0 0.5em;
}

.msg {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: none;
    color: #025857;
    font-size: 0.85em;
    padding: 0.5em;
    /* background-color: #027e6f; */
    border-radius: 50px;
    background: #02B1AF;
    box-shadow:  6px 6px 28px #028887, 
                -6px -6px 28px #02dad7;
}

.msg-active {
    display: block;
}

.wrapper {
    position: relative;
    width: 120rem;
    max-width: 650px;
    /* background-color: #027e6f; */
    height: 90%;
    display: flex;
    place-content: center;
    place-items: center;
    margin: 0.5em;
    perspective: 800px;
}

.outer-circle {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    position: relative;
    min-width: 300px;
    /* background-color: red; */
    /* transform: rotateX(45deg); */
    /* transform-style: preserve-3d; */
    transform-style: preserve-3d;
    /* background-color: red; */
    transition: 0.55s;
    overflow: hidden;
    perspective: 2000px;
}

svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 128, 0, 0.651); */
    pointer-events: none;
    /* border-radius: 50%; */
}

svg .dashed-circle {
    stroke-dasharray: 1.5 7 ;
    stroke-dashoffset: 500px;
}

.inner-circle {
    pointer-events: none;
    position: absolute;
    width: 500px;
    height: 500px;
    /* object-fit: cover; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid whitesmoke;
    border-radius: 50%;
    transition: 0.75s;
    transform-style: preserve-3d;
    /* display: flex;
    place-content: center;
    place-items: center; */
    /* background-color: red; */
    /* transform-origin: center; */
}

.pin-holder {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 5px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    /* transform-origin: center; */
    background-color: #027e6f;
}

.hand-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
    transition: 0.25s;

}

.hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 10px;
    height: calc((100%/2) - 40px);
    background-color: white;
    /* clip-path: polygon(22% 0, 78% 0, 100% 100%, 0 100%); */
    /* border-radius: 100px; */
    border-radius: 200px;
}

.hand-wrapper .hr-hand {
    clip-path: polygon(22% 0, 78% 0, 100% 100%, 0 100%);
    border-radius: 100px;
    min-height: 40px;
    opacity: .8;
}

.mn-hand {
    clip-path: polygon(22% 0, 78% 0, 100% 100%, 0 100%);
    border-radius: 100px;
    height: calc((100%/2) - 10px);
    width: 5px;
    background-color: white;
}

.mn-wrapper {
    transform: translate(-50%, -50%) rotate(45deg) rotate(37deg);
}

.sec-wrapper {
    /* background-color: white; */
}

.sec-hand {
    position: absolute;
    width: 20px;
    height: 15px;
    left: 50%;
    top: -20px;
    background-color: white;
    transform: translateX(-50%) rotate(00deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* slider for demo purpose only-------------------------------------------------------------------------------------*/
.slider {
    position: fixed;
    top: 20px;
    left: 30px;
    width: 300px;
    height: 50px;
    background-color: rgb(248, 225, 93);
    padding: 0.5em;
    border-radius: 50px;
}

.slider input {
    width: 100%;
    height: 100%;
}